repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.12.5
  hooks:
    # Run the linter.
    - id: ruff-check
      types_or: [ python, pyi ]
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]


- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell      


- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0 # Use a specific version
  hooks:
    - id: check-yaml
    - id: check-json
    - id: pretty-format-json
      args: [--autofix] # Example argument for auto-fixing issues
